<h1>Sign In</h1>
<%= render 'layouts/errors' %>

<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username
    <input type="text" name="user[username]" value=""></label>
  <label>Password
      <input type="text" name="user[password]" value=""></label>
      <input type="submit" value="Sign In">
</form>
</div>


<!-- <form class="container .center_div">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<form action="<%= session_url %>" method="post">
  <div class="center_div">
    <label class="control-label" for="inputUsername">Username</label>
    <div class="controls">
    <input type="text" id="inputUsername" name="user[username]" placeholder="Username" value=""></label>
    </div>
  </div>
  <div class="center_div">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
    <input type="text" id="inputPassword" name="user[password]" placeholder="Password" value=""></label>
    </div>
  </div>

  <div class="center_div">
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form> -->
