<h3>All Photos</h3>

<div class="photo-modal-button">
  <button type="button" class="modal-btn btn btn-default">Add Photo</button>
</div>


<% photos.each(function (photo) { %>
    <div class='photo-title'>
      <a href="#photos/<%= photo.id %>">
        <h4><%= photo.escape('title') %></h4>
      </a>
    </div>
    <a href="#photos/<%= photo.id %>">
    <img src= <%= photo.escape("filepicker_url") %>>
  </a>
    <button class="delete btn btn-default" data-id="<%= photo.id %>">Delete Photo</button>

<% }); %>
