<!DOCTYPE html>
<html>
<head>
  <title>FlickrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- // <script src="://api.filepicker.io/v1/filepicker.js"></script> -->
  <%= filepicker_js_include_tag %>
  <script> filepicker.setKey("Ax7ensMWS5KcqGmcf1KxPz");</script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>
<%= yield %>
</body>
</html>
