<!DOCTYPE html>
<html>
<head>
  <title>FlickrClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if !current_user.nil? %>
<%= current_user.username %>
<%= button_to "Sign Out", session_url, method: :delete %>
<% else %>
<%= button_to "Sign Up", new_session_url, method: :put%>
<%= button_to "Sign Up", new_session_url, method: :put%>
<% end %>

<%= yield %>



</body>
</html>
